.logo{
    position: relative;
    top: 20px;
    right: 0;
    left: 25px;
    margin-bottom: 40px;
    width: 150px;
}

.menukiri{
    font-size: 12px;
    white-space: pre-wrap;
    padding: 5px;
}

nav li:hover{
    background-color: rgb(43, 148, 64);
}

.img{
    width: 100%;
}

.join{
    position: absolute;
    top: 30px;
    right: 240px;
    white-space: pre-wrap;
}

.worldwide{
    position: absolute;
    top: 30px;
    right: 100px;
    white-space: pre-wrap;
}

.search{
    position: absolute;
    top: 53px;
    right: 50px;
    color: white;
}

.caption{
    color: white;
    width: 100%;
    float: left;
    background-color: rgba(19, 18, 18, 0.6);
    font-family: sans-serif;
    line-height: 25px;
    position: relative;
    top: -110px;
}

.capt1{
    white-space: pre-wrap;
    font-size: 22px;
    font-weight: 500;
    padding-left: 40px;
}

.ketcapt1{
    white-space: pre-wrap;
    font-size: 15px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.capt1:hover{
    color: rgb(211, 211, 211);
}

.fom{
    position: absolute;
    top: 60px;
    left: 900px;
    padding: 10px 20px;
    border-radius: 27px;
    font-size: 13px;
}

.kd{
    white-space: pre-wrap;
}

.kd:hover{
    color: rgb(43, 148, 64);
}

.b1{
    white-space: pre-wrap;
}

.b1:hover{
    border: 0.5px solid rgb(211, 211, 211);
    background-color: rgb(252, 252, 252);
}

.fa-arrow-right{
    color: rgb(43, 148, 64);
    font-size: 12px;
}

.sb{
    border: 0.5px solid rgb(43, 148, 64);
    border-radius: 20px;
}

.sb:hover{
    border-color: rgb(133, 189, 144);
    color: rgb(85, 81, 81);
}

.quote{
    font-size: 20px;
}

.orang{
    font-size: 17px;
}

.op{
    border: 0.5px solid rgb(43, 148, 64);
    border-radius: 35px;
    font-size: 14px;
}

.saa{
    border: 0.5px solid rgb(43, 148, 64);
    border-radius: 20px;
}

.saa:hover{
    border-color: rgb(133, 189, 144);
    color: rgb(85, 81, 81);
}

.ql{
    white-space: pre-wrap;
}

.ql:hover{
    color: rgb(43, 148, 64);
}

.pr{
    font-size: 25px;
}

.tgl{
    font-size: 13px;
}

.jdl:hover{
    color: rgb(43, 148, 64);
}

ul.pages{
    font-size: 15px;
}