.logo{
    position: relative;
    top: 20px;
    right: 0;
    left: 95px;
    margin-bottom: 40px;
    width: 85px;
}

.menukiri{
    font-size: 15px;
    white-space: pre-wrap;
    padding: 10px;
}

nav li:hover{
    color: white;
    background-color: rgb(43, 148, 64);
    padding-left: px;
}